body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/* contenedor principal */
.container{
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}


h1{
    text-align: center;
}
/* estilo input */
input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
/* estilo boton */
button{
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #45a049;
}

.form-tarea{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/* lista de tareas */
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}